name: Build

on: 
  workflow_dispatch:
  push:
    branches: [ main, develop ]
    tags:
    - '*'
  pull_request:
    branches: [ main, develop ]

jobs:
  compile:
    name: Compile contracts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python 3.x
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Setup node environment
        uses: actions/setup-node@v3
        with:
          node-version: 16
      
      - name: Download required solidity compilers
        run: |
          mkdir -p ~/.solcx/ 
          wget -O ~/.solcx/solc-v0.8.2 https://binaries.soliditylang.org/linux-amd64/solc-linux-amd64-v0.8.2+commit.661d1103 
          wget -O ~/.solcx/solc-v0.8.15 https://binaries.soliditylang.org/linux-amd64/solc-linux-amd64-v0.8.15+commit.e14f2714 
          chmod 755 ~/.solcx/solc* 
      
      - name: Download brownie dependencies
        run: |
          export VERSION_OPEN_ZEPPELIN=4.7.3
          wget -O /tmp/v${VERSION_OPEN_ZEPPELIN}.tar.gz https://github.com/OpenZeppelin/openzeppelin-contracts/archive/refs/tags/v${VERSION_OPEN_ZEPPELIN}.tar.gz 
          mkdir -p ~/.brownie/packages/OpenZeppelin 
          cd ~/.brownie/packages/OpenZeppelin 
          tar xvfz /tmp/v${VERSION_OPEN_ZEPPELIN}.tar.gz 
          mv openzeppelin-contracts-${VERSION_OPEN_ZEPPELIN} openzeppelin-contracts@${VERSION_OPEN_ZEPPELIN} 
          
      - name: Install ganache
        run: npm install --global ganache

      - name: Setup brownie
        run: wget https://raw.githubusercontent.com/eth-brownie/brownie/master/requirements.txt
      - run: pip install -r requirements.txt 
      - run: pip install eth-brownie 

      - name: Compile contracts
        run: brownie compile --all

      - name: Install solhint linter
        run: npm install --global solhint

      - name: Run solhint linter
        run: solhint contracts/**/*.sol

      - name: Archive build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: contracts
          path: |
            build


  publish:
    name: Publish package to npmjs
    runs-on: ubuntu-latest
    if: ${{ github.ref != 'refs/heads/main' && contains(join(needs.*.result, ','), 'success') }}
    needs: [compile]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Download build artifacts
        uses: actions/download-artifact@v3
        with:
          name: contracts
          path: build

      - name: Setup node environment
        uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: 'https://registry.npmjs.org'
      
      - run: npm ci

      - name: Set build version identifier
        run: npm version "`npm version patch --no-git-tag-version`-`git rev-parse --short HEAD`" --no-git-tag-version

      - run: npm publish --tag next
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPMJS_ACCESS_TOKEN }}
